.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    /* background-size:cover; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; */
}

.swiper-slide img {
    /* display: block;
    width: 100%; */
    /* flex-shrink: 0;
    min-width: 100%;
    min-height: 100% */
    object-fit: cover; /*todo: ie fallback*/
    object-position: top;
    width: 100%;
    height: 100%;
}

.buttons {
    position: absolute;
    bottom: 15%;
    /* transform: translateY(-50%); */
    left: 40%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.scrollTitle {
    position: absolute;
    bottom: 8%;
    /* transform: translateY(-50%); */
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: white;
    z-index: 10;
}

#swiper-color .swiper-button-next, #swiper-color .swiper-button-prev {
    color: white;
    position: absolute;
    top: 85%;
    transform: translateX(-50%);
}

#swiper-color .swiper-button-next {
    left: 52%;
}

#swiper-color .swiper-button-prev {
    left: 48%;
}

.swiper-button-prev::after,
.swiper-button-next::after{
    font-size: 30px !important;
}

.scrollTitle:before,
.buttons:before,
.swiper-button-prev::before,
.swiper-button-next::before {
    content: "";
    background: #000;
    width: 100%;
    height: 32px;
    display: block;
    position: absolute;
    bottom: -16px;
    z-index: -1;
}

.embla__button {
    touch-action: manipulation;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    z-index: 1;
    border: 0;
    width: 30px;
    height: 30px;
    fill: #fff;
    padding: 0;
}

.embla__button__svg {
    width: 100%;
    height: 100%;
}

.embla__button--prev {
    left: 0;
}

.embla__button--next {
    right: 0;
}