.button-container {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 90;
}

.connected-button-container {
    position: fixed;
    top: 0%;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    z-index: 99;
}

.cta-button {
    height: 45px;
    border: 0;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.connect-wallet-button {
    color: white;
    background: -webkit-linear-gradient(left, #868686, #242424);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    max-width: 300px;
}